<div class="container">
  <div class="event-form">
    <br>
    <h1 class="mb-3 forest-text text-center"><i class="fa fa-calendar fa-lg"></i></h1>
      <h1 class="h3 mb-4 font-weight-normal forest-text text-center">新しいイベントを作る</h1>
      <%= render 'form' %>
  </div>
</div>
