<h1>投稿詳細画面</h1>
<% unless @post.pictures.nil? %>
<% @post.pictures.each_with_index do |post| %>
  <%= image_tag post.image.url, size: "200x300" %>
<% end %>
<% end %>
<p>内容: <%= @post.content %></p>
<td><%= link_to "編集する", edit_post_path(@post.id) %></td>
<%= link_to '削除する', post_path(@post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
