/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 * require_tree .
 *= require_self
 */

 html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 100px;
}

.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10rem;
  z-index: 1000;
  font-family: Montserrat, sans-serif;
  color: #77C7AC;
  background: white;
  border-bottom: 1px solid;
}
.main-header .header-wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;

  .navbar {
    width: 100%;
  }
}

.nav-item {
  font-size: 1.5rem;
  margin: 0 15px;
} 
.main-header .header-wrapper .main-logo {
  float: left;
  margin-left: 30px;
  font-weight: 700;
  font-size: 1.875em;
}
.main-header .header-wrapper .header_logo:hover {
  transform: scale(1.2,1.2);
  opacity: 0.8;
}
.notice, .alert {
  padding-bottom: 1.3em;
  text-transform: uppercase;
  color: #77C7AC;
  font-size: 1.2rem;
  position: relative;
  top: 1.4em;
}

.nav-item a:hover {
  color: #77C7AC;
  border-bottom: 0.1875em solid #77C7AC;
  transition: 0.1s;
}
.nav-item a span {
  font-size: 1em;
}
.nav-item li:last-child {
  padding: 0.75em 0;
}

.header_logo {
  position: relative;
  height: 15%;
  width: 15%;
  margin-left: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Montserrat, sans-serif;
  color: #77C7AC;
  background: white;
  border-top: 1px solid;
  height: 70px;
  margin-bottom: -30px;
}

p.copyright {
  margin: 5px 0 0;
  text-align: center;
  font-size: 2rem;
}
